body {
    background-color: white;
}
h1 {
    color: black;
    font-size: 60px;
    text-align: center;
}
.contenedor {
    position: relative;
    height: 300px;  
    width: 100%;    
}

.texto {
    position: absolute;
    text-align: right;  
    left: 1300px;         
    top: -720px;           
    right: 100px;
    text-align: justify;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: #333; 
    padding: 1rem 0; 
}

.menu ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
}

.menu ul li {
    margin: 0 15px; 
}

.menu ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 1.2rem; 
    padding: 10px 20px; 
    display: block; 
    transition: background-color 0.3s ease; 
}

.menu ul li a:hover {
    background-color: #f39c12;
    border-radius: 5px; 
    color: white; 
}
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    color: white;
    padding: 10px 0;
}